@font-face {
    font-family: AbstractGroovy;
    src: url('fonts/AbstractGroovy-K7Zdy.ttf');
}

@font-face {
    font-family: Raleway-Light;
    src: url('fonts/Raleway-Light.ttf');
}

html,
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    background: url('images/bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Raleway-Light';
    position: relative;
}

main{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

header{
    height: 70px;
    width: 100%;
    background-color: rgba(255, 255, 255, .7);
    /* display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; */
    /* dipsl */
    display: grid;
    grid-template-columns: 33% 33% 33%;
    justify-content: space-between;
    align-items: center;
}

.menu{
    background-color: transparent;
    height: auto;
    width: auto;
    font-size: 17px;
}

.menu nav{
    height: 40px;
    max-width: max-content;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 70px;
}

.menu nav ul{
    list-style: none;
    display: inline-block;
    color: black;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu nav ul a{
    color: black;
    text-decoration: none;
    padding: 10px 20px;
    position: relative;
}

.menu nav ul a li{
    display: inline-block;
}

.menu nav ul a::after{
    content: '';
    position: absolute;
    height: 5px;
    width: 100%;
    background-color: transparent;
    bottom: 0;
    left: 0;
    transition: .8s ease-in-out;
}

.menu nav ul a:hover::after{
    background-color: black;
}

.menu nav ul a:hover li{
    transform: translateY(-5px);
}

.project-name{
    height: 50px;
    width: auto;
    background-color: transparent;
}

.project-name a{
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}

.project-name a img{
    height: 100%;
    max-height: 50px;
    width: auto;
    margin-right: 20px;
}

.project-name a .name{
    font-family: 'AbstractGroovy';
}

.contacts{
    height: 40px;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.contacts a{
    height: 100%;
    width: auto;
    font-size: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    color: blueviolet;
    transition: .5s ease-in-out;
    text-decoration: none;
}

.contacts a:hover{
    color: rgb(73, 72, 72);
}

.home-body{
    height: calc(100% - 70px - 30px);
    width: 100%;
    background-color: transparent;
    display: grid;
    grid-template-columns: 50% 50%;
}

.home-body .content-box{
    height: calc(100% - 2 * 70px);
    width: calc(100% - 2 * 70px);
    padding: 70px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.home-body .content-box p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: white;
    text-align: right;
    width: 100%;
}

.highlight-text{
    font-size: 50px;
    text-align: center!important;
}

.campaign-button{
    height: max-content;
    width: max-content;
    padding: 15px 25px;
    font-size: 20px;
    cursor: pointer;
    outline: none;
    background-color: transparent;
    border: 0;
    box-shadow: 0px 3px 0px 0px rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    border-radius: 8px;
    transition: 1s;
}

.campaign-button:hover{
    background-color: rgb(73, 73, 73);
    color: white;
    box-shadow: 0px 3px 0px 0px rgb(97, 96, 96);
}

footer{
    height: 30px;
    width: 100%;
    background-color: rgb(73, 73, 73);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
}

footer .links{
    height: 100%;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .links ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

footer .links ul a{
    text-decoration: none;
    color: white;
    padding:  0 8px;
}

footer .links ul a li{
    list-style: none;
    display: inline-block;
}

footer .foundation{
    padding: 0 10px;
    color: white;
}

.modal-wrapper{
    position: fixed;
    background-color: rgba(44, 44, 44, 0.7);
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    display: flex;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-wrapper .modal{
    height: auto;
    width: 400px;
    background-color: white;
    border-radius: 8px;
}

.modal-wrapper .modal .title-bar{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    border-bottom: .1px solid rgba(73, 72, 72, .3);
}

.modal-wrapper .modal .title-bar .title{
    padding: 12px;
    font-weight: bold;
}

.modal-wrapper .modal .title-bar .close-btn{
    height: 100%;
    width: max-content;
    padding: 0 12px;
    background-color: red;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 8px;
}

.modal-wrapper .modal .modal-body{
    height: auto;
    width: calc(100% - 2 * 12px);
    padding: 12px;
}

.modal-wrapper .modal .status-bar{
    height: 50px;
    width: 100%;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top: .1px solid rgba(73, 72, 72, .3);
}

.modal-wrapper .modal .status-bar .buttons{
    width: calc(100% - 2 * 12px);
    height: calc(100% - 2 * 12px);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 12px;
}

.modal-wrapper .modal .status-bar .buttons button{
    padding: 7px 25px;
    cursor: pointer;
    outline: none;
    background-color: rgb(73, 72, 72);
    box-shadow: 0px 3px 0px 0px rgb(110, 108, 108);
    border-radius: 8px;
    border: 0;
    color: white;
    transition: .8s;
}

.modal-wrapper .modal .status-bar .buttons button:hover{
    background-color: rgb(110, 108, 108);
    box-shadow: 0px 3px 0px 0px rgb(73, 72, 72);
}

.input-group{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 15px;
}

.input-group label{
    margin-bottom: 5px;
}

.input-group input{
    outline: none;
    border: .3ps solid black;
    height: 15px;
    font-size: 15px;
    padding: 8px;
    text-transform: capitalize;
}

.loader-container{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader-icon{
    height: 100px;
    width: 100px;
    /* background-color: #3E7091; */
    border: 5px solid #3E7091;
    border-right-color: transparent;
    border-left-color: transparent;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: spinner-clockwise 1.2s linear infinite;
}

.inside-loader-icon{
    height: 50px;
    width: 50px;
    /* background-color: #3E7091; */
    border: 10px solid #3E7091;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-radius: 50%;
    animation: spinner-anticlockwise 0.6s linear infinite;
}

.hidden{
    display: none;
}

@keyframes spinner-clockwise {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes spinner-anticlockwise {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}